@import '../../scss/mixins';

.resend {
  width: 77px;
  height: 18px;
  background-color: $third-color;
  color: $text-color-third;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 52px;
  top: 50%;
  margin-top: -9px;

  @include desktop {
    width: 107px;
    height: 26px;
    font-size: 14px;
    right: 73px;
    margin-top: -13px;
  }
}
