@import '../../scss/mixins';

.inputBlock {
  margin-bottom: 24px;

  @include desktop {
    margin-bottom: 34px;
    font-size: 34px;
  }
}

.inputWrapper {
  background-color: $secondary-color;
  margin-bottom: 6px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-right: 24px;
  position: relative;
  border: 1px solid transparent;
  height: 33px;

  @include desktop {
    height: 66px;
    margin-bottom: 10px;
    padding-right: 32px;
  }

  &.error {
    border-color: $alert-color;
  }

  &:focus-within {
    border-color: $yellow-color;
  }
}

.label {
  background-color: $primary-color;
  display: block;
  font-size: 9px;
  position: absolute;
  padding-inline: 9px;
  color: $text-color;
  left: 15px;
  top: -5px;

  @include desktop {
    font-size: 12px;
    padding-inline: 11px;
  }
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: $white-color;
  outline: none;

  &::placeholder {
    color: $text-color;
  }
}

.hint {
  font-size: 10px;
  color: $text-color;
  padding-left: 11px;
  position: relative;

  @include desktop {
    font-size: 14px;
    padding-left: 14px;
  }

  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: $text-color;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -1px;
  }
}

.input.error {
  border-color: $alert-color;
}

.errorMessage {
  color: $alert-color;
  font-size: 12px;
  margin-top: 5px;
  padding-left: 5px;

  @include desktop {
    font-size: 14px;
  }
}
