@import '../../scss/mixins';

.formBackground {
  width: 800px;
  height: 1020px;
  max-height: 100%;
  background: url('../../../public/images/background.png') 0 0 no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: $white-color;
  padding: 31px;
  box-sizing: border-box;
  flex-shrink: 0;

  @include laptop {
    width: 568px;
    height: 725px;
  }

  @include desktop {
    width: 1024px;
    height: 1366px;
  }
}
