@import '../../scss/mixins';

.formWrapper {
  width: 618px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 90px;
  box-sizing: border-box;

  @include desktop {
    width: 868px;
    padding-top: 66px;
    padding-left: 126px;
  }
}

.form {
  width: 432px;

  @include desktop {
    width: 606px;
  }
}

.formContent {
  margin-bottom: 41px;
}

.inputsWrapper {
  & > div {
    &:nth-last-child(2) {
      margin-bottom: 42px;

      @include desktop {
        margin-bottom: 59px;
      }
    }
  }
}

.checkboxLink {
  color: $text-color-second;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 126px;

  @include desktop {
    margin-bottom: 177px;
  }
}

.checkboxes {
  margin-bottom: 14px;

  @include desktop {
    margin-bottom: 19px;
  }
}
