$primary-color: #201818;
$secondary-color: #2f2424;
$third-color: #453535;
$text-color: #7e6969;
$text-color-second: #c9b1b1;
$text-color-third: #988080;
$white-color: #fff;
$alert-color: #e80004;
$yellow-color: #d39a54;
