@import '../../scss/mixins';

.formWrapper {
  width: 100%;
  max-width: 1225px;
  height: 100%;
  background-color: $primary-color;
  padding: 30px 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;

  @include desktop {
    max-width: 1723px;
  }
}
