.link {
  text-decoration: none;
  font-size: 11px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  &:hover {
    text-decoration: underline;
  }

  &.red {
    color: $alert-color;
  }

  &.grey {
    color: $text-color;
  }
}
